
/* Gray background so webpage shows up better */
body {
    background-color: lightgray;
}

/* Centering webpage */
#center1 {
    max-width: 700px;
    margin: auto;
}

/* Style "Join our community" heading */
h2 {
    color: hsl(179, 62%, 43%);
    font-weight: bold;
    margin-bottom: 25px;
}

/* Style 30-day... text */
#par2 {
    color: hsl(71, 73%, 54%);
    font-style: "Karla", sans-serif;
    font-weight: bold;
}
/* Move "Monthly Subscription heading down */
#subscript1 {
    padding-top: 35px;
}

/* Move "Why Us heading down */
#whyus1  {
    padding-top: 35px;
    margin-bottom: 20px;
}

/* Make h2 headings bolder */
h4 {
    font-weight: bold;
} 
/* Style and size $29 */
#par3 {
    font-size: 36px;
    font-weight: bold;
    height: 50px;
    }

    /* Style "Sign Up" button */
#par4 {
        background-color: hsl(71, 73%, 54%);
        width: 250px;
        height: 50px;
        text-align: center;
        vertical-align: center;
        font-weight: bold;
        padding-top: 12px;
        margin-top: 48px;
        border-radius: 5px;
    }

#par5 {
        padding-top: 5px;
        line-height: 25px;
    }

#span1  {
    margin-left: 10px;
    font-weight: 400px;
    font-size: 16px;
    vertical-align: center;
    margin-bottom: 60px;
    display:inline-block;
    padding-top: 0px;
    color: #4ABEBD;
}

#span2 {
    background-color: hsl(71, 73%, 54%);
    width: 600px;
}

#span3 {
    padding-left: 100px;
}
/* Style top row */
#main1 {

    width: 700px;
    margin-top: 20px;
    padding-top: 30px;
    padding-left: 45px;
    background-color: white;
    height:240px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: "Karla", sans-serif;
    font-size: 16px;
    font-weight: 400px;
    color: hsl(218, 22%, 67%);   
}
/* Style column one of second row */
#main21 {
    width: 350px;
    padding-left: 45px;
    background-color: hsl(179, 62%, 43%);
    height: 300px;
    border-bottom-left-radius: 10px;
    font-family: "Karla", sans-serif;
    font-weight: 400px;
    font-size: 16px;
    color: hsl(204, 43%, 93%);  
}

/* Style column two of second row */
#main22 {
    width: 350px;
    padding-left: 35px;
    background-color: #4ABEBD;
    height: 300px;
    border-bottom-right-radius: 10px;
    font-family: "Karla", sans-serif;
    font-weight: 400px;
    font-size: 16px;
    color: hsl(204, 43%, 93%)  
}
/* Position the paragraphs under Why Us */
#pw1,#pw2, #pw3, #pw4, #pw5, #pw6, #pw7 {
    margin-bottom: 2px;
}
/* Style the mobile view */
@media screen and (max-width: 576px) {
    #center1 {
        max-width: 350px;
        margin: auto;
    }

    #par5 {
        line-height: 27px;
        
    }

    #span3 {
        padding-left: 5px;
    }

    #main1 {
        width: 350px;
        height: 300px;
    }
    #main21 {
        border-bottom-left-radius: 0px;
    }

    #main22 {
        border-bottom-left-radius: 10px;
    }
}


